*,
*:before,
*:after
{
    font-family: 'Gill Sans', 'Gill Sans MT',Calibri, sans-serif;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

a,
a:hover
{
    text-decoration: none;/*文本装饰*/

    color: aqua;/*文本颜色*/
}

body
{
    font-family: Geneva,Arial,Helvetica,sans-serif;/*文本的字体名称序列*/

    max-width: 95%;/*最大宽度*/
    margin: 1px auto;/*四边的外延边距*/

    border: solid;/*边框的特性。*/
    border-color: #fff;/*边框颜色*/
    background: none;/*背景特性*/
    background-color: #eaebef;/*背景颜色*/
    background-image: url('../images/8.gif');/*背景图像*/
    background-repeat: repeat;/*背景图像如何铺排填充*/
    background-attachment: fixed;/*图像是随对象内容滚动还是固定的。*/
    background-position: center;/*背景图像位置*/
}

header
{
    display: block;/*布局：如何显示*/

    text-align: left;/*文本对齐方式*/

    color: black;/*文本颜色*/
    /*background-color: teal;*/
    background-image: url('../images/12.jpg');
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
}

header h1
{
    margin: auto;

    color: yellow;
}

#container
{
    display: inline-table;
    float: left;

    width: 100%;

    background-color: none;

    text-decoration-color: yellow;
}

#left
{
width: 10%;
float: left;
}
article
{
    display: inline-block;
    float: left;
background-image: url('../images/2.jpg');
    -webkit-box-sizing: border-box;
    width: 80%;
    margin: 0px;
    padding: 0px;

    text-align: left bottom;/*文本对齐方式*/
    text-indent: 2em;/*首行空位*/
    letter-spacing: 2px;/*设置字体间隙*/
    text-transform: uppercase;/*文本大小写*/

    -webkit-border-radius: 10px;
            border-radius: 10px;/*使用圆角边框*/
    background-color: #eee;/*设置背景颜色*/
    -webkit-box-shadow: 2px 2px 20px #888;/*阴影*/
    /*-webkit-transform: rotate(-10deg);*/
}

aside
{
    display: inline-block;
    float: right;

    width: 10%;
}
aside h3
{
    margin: 15px;

    color: black;
}
aside p
{
    font-weight: bold;
    font-style: italic;

    margin: 15px;

    color: teal;
}

footer
{
    display: block;
    clear: both;

    padding: 5px;

    text-align: center;

    color: #fff;
    background-color: teal;
}
#nine em
{
    color: red;
}
